* {
    margin: 0px;
    padding: 0p;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header {
    background-color: #FFF8F3;
    padding: 30px 30px 0px 150px;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    color: #474747
}

.portfolio-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

.primary-color {
    color: #FD6E0A;
}

.primary-btn {
    background-color: #FD6E0A;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px 25px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 585px;
}

.banner .profile-pic {
    width: 450px;
    height: 500px;
}

.title1 {
    margin: 20px 0px;
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.title2 {
    margin: 20px 0px;
    font-size: 85px;
    font-weight: 700;
    color: #474747;
}

.description {
    font-size: 18px;
    font-weight: 200;
    color: #474747;
    margin-bottom: 30px;
}

button {
    margin-right: 10px;
}

main {
    max-width: 1140px;
    margin: 0px auto;
}

main section {
    margin-top: 130px;
}

.about {
    padding: 130px 0px;
    margin: 130px 0px;
    border-radius: 10px;
    background: #FFF8F3;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    padding: 20px 130px
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
    padding-top: 30px;
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    /* width: 250px;
    height: 350px; */
    padding: 20px;
    height: 250px;
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
}

.resume-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-title {
    margin: 50px 0px;
}

.resume-head {
    margin-bottom: 10px;
}

.resume-institute {
    margin-bottom: 10px;
    color: #757575;
}

.resume-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

section hr {
    margin: 20px 0px;
}

.button-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 113px 0px;
}

footer {
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}

.footer-sec {
    width: 50%;
}

.form-container input {
    display: block;
}

.form-items {
    margin: 10px;
    width: 45%;
    padding: 25px 250px 30px 20px;
    border: none;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06)
}

.form-container input::placeholder {
    color: #757575;
    font-size: 24px;
    font-weight: 400;
    padding: 18px 300px 30px 0px;
}

.form-container textarea::placeholder {
    font-size: 24px;
    font-weight: 400;
}

.btn4 {
    margin-left: 10px;
}

.formDes {
    padding: 20px 0px;
}

.social-link a {
    margin-right: 10px;
}